---
// SOCIAL ICONS
import CurriculumIcon from "./Icons/social-icons/Curriculum.astro";
import GithubIcon from "./Icons/social-icons/Github.astro";
import Linkedin from "./Icons/social-icons/Linkedin.astro";
import Instagram from "./Icons/social-icons/Instagram.astro";
import X from "./Icons/social-icons/X.astro";

import Badge from "./Badge.astro";
import config from "../config/config.json";
import { Image } from "astro:assets";
import avatar from "/profile.jpeg";
---

<div class="relative flex items-start">
  <div class="sm:w-4/5">
    <div class="sm:hidden flex gap-4 items-center mb-4">
      <figure class="left-0">
        <Image
          width={100}
          height={100}
          src={config.author.avatar}
          class="rounded-full size-16 object-cover"
          alt={config.author.name}
          decoding="async"
          loading="lazy"
        />
      </figure>
    </div>
    <Badge contentBadge="Disponible para trabajar" />
    <h1 class="md:text-6xl sm:text-4xl text-3xl font-bold text-white mb-4">
      {config.author.name}
      <span class="text-yellow-400/90 md:text-3xl text-xl"
        >@{config.author.username}</span
      >
    </h1>
    <p class="mt-1.5 text-xl text-zinc-400 text-pretty">
      {config.author.bio}
    </p>

    <div class="flex space-x-5 pt-8 m-auto items-center">
      <a
        title="Descarga mi CV"
        href="https://robust-mosquito-8de.notion.site/Wilberk-Ledezma-494c71cbc0ae4bbb840ce224b9da0e2a"
        target="_blank"
        rel="noopener noreferrer"
      >
        <figure>
          <CurriculumIcon />
        </figure>
      </a>

      <a
        title="Visita mi Github"
        href="https://github.com/webzma/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <figure>
          <GithubIcon />
        </figure>
      </a>

      <a
        title="Visita mi LinkedIn"
        href="https://www.linkedin.com/in/wilberk-ledezma-201378207/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <figure>
          <Linkedin />
        </figure>
      </a>

      <a
        title="Visita mi instagram"
        href="https://instagram.com/webzma"
        target="_blank"
        rel="noopener noreferrer"
      >
        <figure>
          <Instagram />
        </figure>
      </a>

      <a
        title="Visita mi X"
        href="https://x.com/webzmadev"
        target="_blank"
        rel="noopener noreferrer"
      >
        <figure>
          <X />
        </figure>
      </a>
    </div>
  </div>
  <div class="rounded-lg hidden sm:flex">
    <figure class="right-0">
      <Image
        src={avatar}
        class="rounded-full size-24 md:size-36 object-cover"
        alt="Wilberk Alejandro Ledezma @webzma"
      />
    </figure>
  </div>
</div>
