---
import Tailwind from "../components/TecnologyBadges/Tailwind.astro";
import Reactjs from "./TecnologyBadges/Reactjs.astro";
import Astroo from "./TecnologyBadges/Astro.astro";
import GithubBtn from "../components/GithubBtn.astro";
import DemoProjectBtn from "../components/DemoProjectBtn.astro";

interface Props {
  projectTitle: string;
  projectDescription: string;
  projectImageUrl: string;
  projectGithubUrl: string;
  projectWebUrl: string;
}

const {
  projectTitle,
  projectDescription,
  projectImageUrl,
  projectGithubUrl,
  projectWebUrl,
} = Astro.props;
---

<article class="mb-14 rounded-2xl bg-transparent">
  <h3 class="text-2xl text-yellow-400/90 font-semibold">{projectTitle}</h3>
  <p class="text-zinc-400 mb-4 text-xl">{projectDescription}</p>

  <ul class="flex flex-row gap-x-2 mb-4">
    <li>
      <Tailwind />
    </li>
    <li>
      <Reactjs />
    </li>
    <li>
      <Astroo />
    </li>
  </ul>

  <img
    height="200"
    width="200"
    src={projectImageUrl}
    alt={projectTitle}
    class="mb-4 w-full rounded-2xl h-[380px] object-cover shadow-2xl shadow-gray-300/10"
  />

  <div class="flex gap-2 mt-2">
    <GithubBtn url={projectGithubUrl} />
    <DemoProjectBtn demo={projectWebUrl} />
  </div>
</article>
