---
import Subtitle from "./Subtitle.astro";
import ProjectsIcon from "./Icons/ProjectsIcon.astro";
import Project from "./Project.astro";

import { projects } from "../config/data.json";
---

<section id="proyectos" class="mt-36">
  <Subtitle subtitle="Proyectos">
    <ProjectsIcon />
  </Subtitle>

  <div>
    {
      projects.map((project) => (
        <Project
          projectTitle={project.title}
          projectDescription={project.description}
          projectImageUrl={project.imgUrl}
          projectGithubUrl={project.githubUrl}
          projectWebUrl={project.webUrl}
        />
      ))
    }
  </div>
</section>
